$font-size: 20px;
$button-background-color: papayawhip;
$button-font-color: black;
$text-font-color: slateblue;
$font-family: "Avenir";

.hello-world-button {
  font-size: $font-size;
  padding: 7px 15px;
  background: $button-background-color;
  color: $button-font-color;
  outline: 1px dotted rebeccapurple;
  font-family: "Fira Code";
}

.hello-world-text {
  color: $text-font-color;
  font-weight: bold;
}
